body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
    background: linear-gradient(to right, #ffffff, #ffffff);
    background-image: url('imagens/fundo-cadastro.png');
    background-size: cover;
    background-position: center;
}

/*CABEÇALHO-------------------------------------------------------------------*/
.fixed-header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: #fff;
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 80px; 
}

.registration-header {
    text-align: center;
    margin-bottom: 30px;
}

.registration-header p {
    text-align: center;
    margin-bottom: 10px;
}

.fixed-header nav {
    display: flex;
}

.fixed-header a {
    margin-right: 25px;
    text-decoration: none;
    color: #007BFF;
    font-weight: bold;
}

.fixed-header .btn-donate {
    background-color: #007BFF;
    color: #fff;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
    font-size: 1em;
    margin-right: 20px;
}

.logo-container {
    text-align: center;
    margin-bottom: 20px;
}

.logo-container img {
    max-height: 65px;
    margin: 20px 10px 10px;
}

.logo-container .logo1 {
    max-height: 70px;
    margin: 0px 10px;
}

.logo-container h2 {
    font-weight: bold;
    font-size: 28px;
    color: #0d0d0d;
    margin-top: 15px;
}



/*FORMULARIO-------------------------------------------------------------------*/
form {
    max-width: 400px;
    width: 100%;
    background-color: #ffffff;
    padding: 20px;
    border-radius: 12px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 10px;
    margin-top: 10px;
    align-items: center;
    margin: 30px auto;
}

.registration-header {
    text-align: center;
    margin-top: 10px;
    margin-bottom: 5px;
}

.checkbox-container {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
}

.checkbox-container label {
    margin-left: 10px;
    font-size: 1em;
}

label {
    display: block;
    font-weight: bold;
    margin-bottom: 10px;
    font-size: 1.2em;
}

input {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    box-sizing: border-box;
    border: 1px solid #c3c3c3;
    border-radius: 8px;
    font-size: 1em;
}


/*DETALHES-------------------------------------------------------------------*/
.btn-register {
    background-color: #007BFF;
    color: #fff;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
    font-size: 1.2em;
    margin: 0 auto;
    display: block;
    margin-top: 20px;
    margin-bottom: 10px;
}

.btn-register:hover {
    background-color: #0056b3;
}

.login-link {
    text-align: center;
    margin-top: 10px;
}

.login-link a {
    color: #007BFF;
    text-decoration: none;
    font-weight: bold;
}

.login-link a:hover {
    text-decoration: underline;
}

.terms-text a {
    color: #007BFF;
}

.terms-text a:hover {
    text-decoration: underline;
    color: #007BFF;
}


/*BOTÃO GOOGLE-------------------------------------------------------------------*/

.google-box {
    width: 100%;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 12px;
    padding: 10px;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.google-box img {
    align-items: center;
    max-height: 20px;
    margin-bottom: 10px;
}

.google-box p {
    width: 50%;
    text-align: center;
    margin: 0 auto;
    font-size: 1em;
}